<section class="inventario-page">
  <header class="inventario-header">
    <p class="eyebrow">MÓDULO DE CONTROL TECNOLÓGICO</p>

    <h1 class="main-title">
      <span>Inventario</span><strong>IT</strong>
    </h1>

    <p class="subtitle">
      Administración de activos tecnológicos, asignaciones, responsivas,
      auditorías e historial de movimientos.
    </p>
  </header>

  <section class="cards-grid">
    <article class="module-card">
      <h3>Dashboard</h3>
      <p>Resumen general del inventario tecnológico.</p>
      <button type="button">Ir a Dashboard</button>
    </article>

    <article class="module-card featured">
      <h3>Gestión de Equipos</h3>
      <p>Registra y administra activos tecnológicos.</p>
     <button type="button" routerLink="/inventario-it/equipos">Ir a Equipos</button>
    </article>

  
<article class="module-card">
      <h3>Colaboradores</h3>
      <p>Administra responsables de equipos.</p>
    <button type="button" routerLink="/inventario-it/colaboradores">Ir a Colaboradores</button>
    </article>

  <article class="module-card">
  <h3>Asignación</h3>
  <p> Asigna equipos tecnológicos a colaboradores.</p>
  <button
    type="button"routerLink="/inventario-it/asignaciones"> Ir a Asignación</button>
</article>

    <article class="module-card">
      <h3>Responsivas</h3>
      <p>Gestiona documentos de asignación.</p>
     <button
      type="button"routerLink="/inventario-it/responsivas"> Ir Responsivas</button>
</article>

    <article class="module-card">
  <h3>Historial</h3>

  <p>
    Consulta la trazabilidad y los cambios realizados sobre cada equipo.
  </p>

  <button
    type="button"
    [routerLink]="['/inventario-it/historial']">
    Ir a Historial
  </button>
</article>

<article class="module-card">
  <h3>Auditorías</h3>

  <p>
    Realiza revisiones físicas, registra diferencias y da seguimiento a las correcciones del inventario.
  </p>

  <button
    type="button"
    [routerLink]="['/inventario-it/auditorias']">
    Ir a Auditorías
  </button>
</article>

    <article class="module-card">
      <h3>Reportes</h3>
      <p>Genera reportes del sistema.</p>
      <button type="button">Ir a Reportes</button>
    </article>
  </section>
</section>